.signup {
    h2 {color:@pink;
    
    }
    &.alt {
        h2 {
    
            color:@camo; .heading_underline();
            @media @breakpoint-medium { 
                max-width:@small-container-width;
                margin-left: auto;
                margin-right: auto;
            }
        }
    } 
    .wrapper;
    text-align:center;
    padding:70px 20px 100px 20px;

    @media @breakpoint-large { 
        padding:50px 0 100px;
    }
}


footer {
    border-top:10px solid @pink;
    padding:100px 0;
    .inner {
        .wrapper;
        display: grid;
        justify-content: center;
        @media @breakpoint-large { 
           
            grid-template-columns: 33% 33% 33%;
        }

        .contact {
            h3 {
                font-family:@alt-font;
                text-transform: uppercase;
                font-weight:700;
                font-size:24px;
                color:@camo;
            }
            text-align:center;
            @media @breakpoint-large { 
                text-align:left;
            }
            p, a {
                font-family:@alt-font;
                font-weight:100;
                font-size:16px;   
            }
            i {
                font-weight:100;  
            }

          

        }
        .sublinks {
            text-align:center;

            @media @breakpoint-large { 
                text-align:right;
                
            }
            font-family:@alt-font;
            text-transform: uppercase;
            font-weight:100;
            font-size:16px;
        }

        .logo-wrapper {
            text-align:center;
            order:-1;
            @media @breakpoint-large { 
                order:0;
            }  
            .logo {
                width:150px;
                display:inline-block
            }
           
        }
        .copyright {
            font-family:@alt-font;
            text-transform: uppercase;
            font-weight:100;
            font-size:14px;
            
            @media @breakpoint-large { 
                grid-column-start: 2;
                grid-column-end: 3;
              
                text-align:center;  
            }


        }
    }
    :hover {background:none;}
} 