.strong {font-weight:700;}
.pink {
    h2 {color:@pink !important; border-bottom:1px solid @pink !important;}
    .button {background: @pink  !important;}
}
.green {
    h2 {color:@green !important; border-bottom:1px solid @green !important;}
    .button {background: @green  !important;}
}