/*reusable modules*/
.generic {
    background:@light-grey;
    text-align:center;
    padding:90px 0;
    
    @media @breakpoint-large { 
        padding:120px 0;
    }
    .inner {
        .wrapper();
        h2 {color:@camo; .heading_underline();
            @media @breakpoint-medium { 
                max-width:@small-container-width;
                margin-left: auto;
                margin-right: auto;
            }
        
        }
        h3 {color:@camo; margin-bottom:50px;}
        .button {margin-top:@trim;
            
            @media @breakpoint-large { 
                max-width:800px;
            }
        
        }
    }
}    


/*Arcticle Summary*/
.articles {

    max-width: @container-width;
    @media @breakpoint-large { 
        margin:50px auto 100px;
    }
    .article {
        text-align:center;
        @media @breakpoint-large { 
            text-align:left;
            display:flex;
            flex: 1 1 0px;
           .wrapper();
            margin-top:100px;
        }

        .image {
         
           @media @breakpoint-large { 
                max-width:50%;
           }
        }
        .content {
            
            padding:50px 15px;
            h2 {margin-bottom:40px; padding-bottom:40px;  border-bottom:1px solid @rouge; color:@rouge;}
            .button { width:70%;}
            p {
                &:last-of-type {
                    margin-bottom:0;
                }   
            }
            .inner {
                @media @breakpoint-large { 
                    width:90%;
                }

            }

            @media @breakpoint-large { 
                padding:50px 0 0;
                width:50%;
                margin-left:50px;
                align-self:flex-end;
            }
     
        }

           
        &:nth-child(even) {
            @media @breakpoint-large {  
                .content {
                order:-1;
                margin-right:50px;
                margin-left:0px;
                }
            }
        }
    }
}



/*hero & events*/
.hero {
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat fixed;
    background-position: 50% 50%;

    display:flex;
    .content {
        text-align:center;
        .wrapper();
         background:rgba(255,255,255,0.9);
         padding:50px;
         height:100vh;
         @media @breakpoint-large {  
            height:auto;
         }

         h2 {.heading_underline(); }
         .action {
             display:flex;
             flex-wrap: wrap;

             @media @breakpoint-large {  
                flex-wrap: nowrap;
             }

            .button {
                flex-basis: 100%;
                margin-top:5px;
            }
             @media @breakpoint-large {  
                .button {
                    flex-basis: 49%;
                    margin-right:1%;
                }
             }
        }
    }
}

/*voucher & hero*/
.voucher {
    display:flex;
    background-repeat: repeat;
   

    @media @breakpoint-large { 
       
    }
    .carousel {
        position:relative;
        overflow:hidden;
        .bg-image;
        position:relative;
        flex-basis: 100%;
        display:flex;
        align-items: center;
        justify-content: center; 
        text-align:center;
       
        
        
        &:before {
            .gradient();
            @media @breakpoint-large { 
                background: @green-dark !important; 
            }
        } 

        @media @breakpoint-large { 
            max-height:600px;
        }
        
 
        .slider {
            max-width:500px;
            .slide {
                padding-left:@trim*2;
                padding-right:@trim*2;
                i {
                    font-size:30px;
                    color:@border;
                }
                h3 {
                    color:@white;
                    font-size:40px;
                
                }
                p {
                    color:@white;
                    font-family: 'Rooney-light';
                }
            }

            .owl-nav { 
                max-width: @container-width;
                position:relative;
           
         
                z-index:11;
                margin:0 auto;
                [class*="owl-"]:hover {
                    background: none !important;
                    color: #FFF;
            
                }
            
                .owl-prev {
                left:-50px;
                top:-100px;
                position:absolute;
                width:100px;
                }   
                .owl-next {
                    right:-50px;
                    left:auto; 
                    top:-100px;
                    position:absolute;
                    width:100px;
            
                }
            
            }
        }
        
    
    }

    .sideimage {
        
 
            display:none;
           
            @media @breakpoint-large { 
             flex-basis: 100%;
             display:block;
            .bg-image;
             max-height:600px;
           
            }
        }

}


/*two column grid images and text*/
.grid {
    display:grid;
    grid-template-columns: 100%;
    grid-gap:none;
    max-width: @container-width;
    margin:0 auto;
    text-align:center;

    @media @breakpoint-medium { 
        grid-template-columns: 50% 50%;
        grid-gap:20px;
    }
    .item {
        
        .content { 
            padding:@trim;
            @media @breakpoint-medium { 
                padding:@trim*2 @trim;
                max-width:80%;
                margin:0 auto;
            }
            h3 {
                color:@camo;
                font-size:44px;
            
            }
        }
        a {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            -webkit-transition-property: color;
            transition-property: color;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;

            

            &:before {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(202,161,166,0.75);
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                -webkit-transform-origin: 50% 0;
                transform-origin: 50% 0;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
                  
            }

            &:hover {
               &:before { 
                -webkit-transform: scaleY(1);
                transform: scaleY(1);}
                .text {
                  opacity:1;
                }
            }
        
            background:none;

            .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color:@white;
                font-size: 22px;
                transition: 1s all ease;
                text-align: center;
                z-index:100;
                opacity:0;
            
                
            }
        }
 


    }
}


/*rooms + gallery*/
.rooms {
    margin:50px auto;
    max-width: @container-width;
    .item {
        display:grid;
        grid-template-columns: 100%;
        grid-gap:none;

        margin:0 auto 50px auto;
        text-align:left;

        @media @breakpoint-medium { 
            grid-template-columns: 50% 50%;
            grid-gap:20px;
        }

        .gallery {
            position:relative;
            .play {
                position: absolute;
                bottom:-10px; 
                right:-10px;
                i {
                    color:@white;
                    font-size:20px;
                }
            }
        }

        .content { 
             h2 {margin-bottom:40px; padding-bottom:40px;  border-bottom:1px solid @rouge; color:@rouge;}
         
             @media @breakpoint-large { 
     
            
                margin-left:50px;
               
            }
            p {font-size:16px;}
            .button {position:bottom; margin-top:@trim;}
        }

        .gallery-children {display:none;}
    
    }

    .info {text-align:center; max-width:800px; margin:30px auto;}
   

}


/*accordion*/
.accordion {
    padding:90px 0 30px 0;

    border-top: 10px solid #caa1a6;
    .inner {
        .wrapper();
    }

}

.reviews {
    padding:90px 0 30px 0;
    display:flex;
    text-align: center;
    justify-content: center;
    width:100%;
    background:@camo;
    .inner {
       .wrapper(); 
       max-width:@small-container-width;
       margin-left: auto;
       margin-right: auto;
            h2 {
                color:@white; .heading_underline();
            }

            .slider {
          
                h3 {color:@white;}
                p {color:@white;}
            }
            
        }
        
}

.gallery-wrapper {
    text-align:center;
    .wrapper();
    padding:90px 0;
    h3 {color:@camo; .heading_underline();}
    .gallery {
        .item {margin:10px;}
    }
}