.main-menu {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        opacity:0;
        background:rgba(202,161,166,1);
        margin-left: -20px;
        margin-right: -20px;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
       

        &.show {opacity:1 !important;
          
        }

        @media @breakpoint-large {
            display:flex;
            justify-content: space-between;
            margin-top:-60px;
            border-bottom:2px solid @white;
            opacity:1;
            background:none;
            margin-left: 0px;
            margin-right: 0px;
         
        }

        li {
            padding:6px;
            @media @breakpoint-large {
                padding:0;
            }

            @media @breakpoint-large {
                &.menuhide {display:none;}
            }

            a {
                display: block;
                 color:@white;
                 text-transform: uppercase;  
                 font-family: @alt-font;  
                 position:relative;
                 border-bottom:1px solid #b6b5b5;
                @media @breakpoint-large {
                    display: block;
                    padding:20px 35px 45px 35px; 
                    border-bottom:none;
        
                }
            
            &:hover {background:none;}
               
            }

            &.current-menu-item {
                position:relative;
                :after {
                    content:'';
                    display:block;   
                    border-bottom:5px solid @pink;
                    position:absolute; 
                    bottom:0;
                    transform: translate(-50%, 0px;);
                    left: 50%;
                    width:80px;
                  
                }

            
               &:first-child :after , &:nth-child(6n) :after  {
                    
                        content:'';
                        display:block;   
                        border-bottom:5px solid @pink;
                        position:absolute;
                        bottom:0;
                        transform: none;           
                        left: 30px;
                        width:80px;
                    }   
                    
                    
                    &:first-child :after  {
                        left:0px;
                        right: 0px; 
                        content:''; 
                    
                }
                     
               }

            

            @media @breakpoint-large {
                    &:nth-child(4n) {
                        margin-left:auto;
                    }

                    &:first-child {
                        a {
                            padding-left:0;
                        }
                    }

                    &:nth-child(6n) {
                        a {
                            padding-right:0;
                        }
                    }

             }

            @media @breakpoint-large {
                a:hover:after {
                        content:'';
                        display:block;   
                        border-bottom:5px solid @pink;
                        position:absolute;
                        bottom:0;
                        transform: translate(-50%, 0px;);
                        left: 50%;
                        width:80px;
                    
                }

                
                &:first-child {
                    
                    a:hover:after {
                        content:'';
                        display:block;   
                        border-bottom:5px solid @pink;
                        position:absolute;
                        bottom:0;
                        transform: none;           
                        left: 0px;
                        width:80px;
                    }
                    a {
                        padding-left:0;
                    }
                
                }


                &:nth-child(6n) {
                    
                    a:hover:after {
                        content:'';
                        display:block;   
                        border-bottom:5px solid @pink;
                        position:absolute;
                        bottom:0;
                        transform: none;           
                        left: 30px;
                        width:80px;
                    }
                
                
                }

               
            }
        }

       
    }
}

 /*add default*/
 .home {
    
    @media @breakpoint-large {
            .main-menu {
                position:relative;
             
                &:before {
                    content: '';
                    border-bottom:5px solid @pink;
                    position:absolute;
                    transform: translate(-50%, 0px;);
                    left: 50%;
                    bottom:2px;
                    width:80px; 
                    
                }
            }

        
    }
  
 }
 
